<!-- app/views/items/_form.html.erb -->
<%= form_with(model: item, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, "商品名" %>
    <%= form.text_field :name, placeholder: "商品名を入力してください" %>
  </div>

  <div class="field">
    <%= form.label :description, "商品説明" %>
    <%= form.text_area :description, rows: 5, placeholder: "商品の説明を入力してください" %>
  </div>

  <div class="field">
    <%= form.label :price, "価格" %>
    <%= form.number_field :price, placeholder: "価格を入力してください" %>
  </div>
<% end %>
