<!-- app/views/items/edit.html.erb -->
<h2><%= @item.name %> の編集</h2>
<%= render 'form', item: @item %>

<%= form_with(model: @item, local: true) do |f| %>
  <%= render "shared/error_messages", model: @item %>

  <div class="field">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description, '商品説明' %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price, '価格' %>
    <%= f.number_field :price %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>


