<%= render "shared/header" %>
<head>
  <title>Furima</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="kLHA2JIPFBCH5hDdW1VyVSVZ9hpoLOmfoMYlaZA0iAEsX0UB3cj5zbccRNT0Xi755p61ivo2Qd6hbghwzbvExQ" />
  <meta name="turbo-visit-control" content="reload"> <!-- Turbo Driveをリロードモードに設定 -->
  
  <!-- その他のリソース -->
  <link rel="stylesheet" href="/assets/application-273e5664a60f872ef8dd98ae3be77f6a7c159e738d21fa2d2490922a8bb97f92.css" data-turbo-track="reload" />
  <script type="importmap" data-turbo-track="reload">{
    "imports": {
      "application": "/assets/application-988ca42a1f3dbf11519744d4c81c057473ecb0c756d9b37fa1d41d50b92815ce.js",
      "@hotwired/turbo-rails": "/assets/turbo.min-c6325b8b56619b34aa6e0f34dfed82b010fe049f81b320a4cd0e2d99d3245118.js",
    }
  }</script>
</head>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="description"><%= @item.description %></h2>
    <div class="item-img-content">
      <%# 商品画像 %>
      <%= image_tag @item.image, class: "item-box-img" %>
<%# 商品が売れている場合は、sold outを表示する %>
      <% if @item.sold_out? %>
        <div class="sold-out">
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= number_with_delimiter(@item.price) %>
      </span>
      <span class="item-postage">
        <%= @item.postage.name %>
      </span>
    </div>
    <%# ユーザーのログイン状態と商品の売却状況に応じて表示を切り替える %>
    <% if user_signed_in? %>
   <% if !@item.sold_out? && current_user.id != @item.user_id %>
  <%= link_to "購入画面に進む", item_records_path(@item), data: { turbo: false }, class: "item-red-btn" %>
   <% end %>
 <% if current_user.id == @item.user_id %>
          <%= link_to '商品の編集', edit_item_path(@item), class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to '削除', item_path(@item), data: { turbo_method: :delete }, class: "item-red-btn" %>
        <% end %>
        <% end %>
</div>

    <div class="item-explain-box">
      <span><%= @item.detail %></span>
    </div>
    <table class="detail-table">
      <%# 商品詳細情報を表示 %>
      <tbody>
                <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.postage.name %></td></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.delivery_date.name %></td>


        </tr>
      </tbody>
    </table>
    <%# お気に入りボタンと不適切な商品を報告するボタン %>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png", class: "favorite-star-icon", width: "20", height: "20" %>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png", class: "report-flag-icon", width: "20", height: "20" %>
<span>不適切な商品の通報</span>
</div>
</div>

  </div>
<%# コメント機能 %>

  <div class="comment-box">
    <form>
      <!-- purchase_form パラメータを追加 -->
  <input type="hidden" name="purchase_form" value="purchase_data">

      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。<br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png", class: "comment-flag-icon", width: "20", height: "25" %>
        <span>コメントする</span>
      </button>
    </form>
  </div>
<%# 商品のカテゴリー名を表示し、同じカテゴリーの他の商品へのリンクを提供 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item">
    <%= @item.category.name %>をもっと見る
  </a>
</div>
<%= render "shared/footer" %>
